.content {
  width: 100%;
  max-width: 1000px;

  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  width: calc(50% - 5px);
}