@import "reset.module";
@import "buttons.module";

body {
  width: 100vw;
  height: 100vh;
  padding: 40px 30px;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  color: white;
}

