::-webkit-scrollbar-button {
  background-image: none;
  background-repeat: no-repeat;
  width: 2px;
  height: 0;
}

::-webkit-scrollbar-track {
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 2px;
  background-color: rgba(25, 42, 110, 0.99);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(44, 51, 73, 0.4);
}

::-webkit-resizer {
  background-image: none;
  background-repeat: no-repeat;
  width: 4px;
  height: 0;
}

::-webkit-scrollbar {
  width: 4px;
}
